.storeinner
{
    padding-left: 300px;
    padding-top: 65px;
}

.storeh1
{
    margin-top: 2px;;
    margin-left: 455px;
    margin-bottom:20px;
    color: black;
}

.storesave
{
    background:#228BE6;
    padding: 10px 20px ;
    font-size: 12px;
    margin-right: 400px;
    margin-top:10px;
}
